<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("temp/head", { title: "Frionx Forum" }) %>
  <meta id="embed-title" property="og:title" content="<%= title %>">
  <meta id="embed-desc" property="og:description" content="<%= description %>">
</head>
<body>
  <%- include("temp/nav", { active: "" }); %>
  <div class="forum-background">
    <h1 class="display-heading">Welcome to Frionx Forums</h1>
  </div>
  <div class="forum-content-box miniforum">
    <div class="forums-top">
      <label class="font-large">Thread</label>
      <button id="edit-thread" onclick="window.location.href = '/edit-thread/<%= id %>';" class="btn create-forum right plus-btn" style="display: none;"><i class="far fa-edit"></i> Edit Thread</button>
    </div>
    <div class="forum-container">
        <label class="forum-form-header" id="thread-title"></label>
        <label class="forum-form-subheader" id="thread-author"></label>
        <label class="forum-form-small" id="thread-date"></label>
        <label class="forum-form-small" id="edit-date"></label>

        <div id="thread-content" class="forum-input-textarea" readonly></div>
    </div>
  </div>
  <div class="forum-content-box miniforum" id="commentbox">
    <label class="forum-form-header">Write a reply...</label>
    <textarea id="reply-content" class="forum-input-textarea reply-box" placeholder="I am writing about..."></textarea>
    <hr class="forum-header-split">
    <input type="submit" id="reply-submit" class="btn btn-submit" value="Submit">
    <label class="forum-form-header" id="status"></label>
  </div>
  <div class="forum-content-box miniforum" id="replies">
    <label class="forum-form-header">Replies</label>
  </div>
  <script>
  let threadId = <%= id %>;
  </script>
  <!-- Important Site Scripts -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.9.1/showdown.min.js"></script>
  <script src="/view-thread.js"></script>
</body>
</html>